<h1>design patterns</h1>
<h2>dependency injection - inheritance</h2>
<app-base-class></app-base-class>
<app-my-class></app-my-class>

<h2>dependency injection - using Injector</h2>
<app-base-class-for-injector></app-base-class-for-injector>
<app-my-class-for-injector></app-my-class-for-injector>


<h2>dependency injection - using inject()</h2>
<app-base-class-for-inject-method></app-base-class-for-inject-method>
<app-my-class-for-inject-method></app-my-class-for-inject-method>

<h2>singleton & non-singleton</h2>
<h3>singleton - without using "providedIn: 'root'"</h3>
<app-component-1></app-component-1>
<app-component-2></app-component-2>

<h3>non-singleton</h3>
<app-component-a></app-component-a>
<app-component-b></app-component-b>

